- @events.each do |event|
  .event_list_div
    %dl
      %dt
        = event.name
      %dd
        = event.description
      %dt
        = 'When?'
      %dd
        = event.date_time.strftime("%d-%m-%Y %T")
