h2{
    margin:0px;
}
.center_pane{
    float: left;
    min-width: 70%;
    max-width: 70%;
    background-color: brown;
}
.event_list_div{
    padding: 20px;
    margin: 20px;
    overflow: auto;
    background-color: purple;
}

.event_info_box{
    float: left;
}
.event_image_box{
    float: right;
}
