h2, p{
  margin:0px;
}
.center_pane{
  float: left;
  min-width: 60%;
  border: 3px solid  #EDEDED;
  border-radius: 3px;
  height: auto;
}
.event_list_div{
  padding: 20px;
  margin: 20px;
  overflow: auto;
  border-bottom: 1px solid #EDEDED;
  border-radius: 3px;
}

.event_info_box{
  float: left;
}
.event_image_box{
  float: right;
}
.user_session_nav{
  float:right;
}
.event_list_event_title{
  font-size: 1.6em;
  color: #687A8A;
}
.event_list_event_title:hover{
  font-size: 1.8em;
  color: #687A8A;
}
.event_list_image{
  height: 8em;
}
#event_description{
  height: 100px;
}
input#event_date, input#event_time{
  width: 186px;
}
input#event_name, textarea#event_description{
  width: 377px;
}
div.ui-datepicker,div.ui-timepicker {
  font-size:13px;
}
.event_main_info_box{
  padding-left: 20px;
}
.event_show_image{
  max-height: 50%;
  max-width: 100%;
  min-width: 100%;
}