h2, p{
    margin:0px;
}
.center_pane{
    float: left;
    min-width: 60%;
    max-width: 60%;
    background-color: grey;
}
.event_list_div{
    padding: 20px;
    margin: 20px;
    overflow: auto;
    background-color: pink;
}

.event_info_box{
    float: left;
}
.event_image_box{
    float: right;
}
.user_session_nav{
    float:right;
}