.top_header{
    background-color: red;
    min-height: 110px;
    max-height: 110px;
}
h1#top_title_header{
    display:inline;
    padding-left: 15%;
}
ul#top_header_menu{
    margin: 0px;
}

li{
    display: inline;
}
